*{
    margin:0;
    padding: 0%;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    scroll-behavior: none;
    list-style: none;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.navbar{
    position: fixed;
    width: 100%;
    top:0;
    right:0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 15px 100px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

}
.logo img{
    width: 54px;
    height: 54px;
    border-radius: 10px;
}
.logo span{
    font-size: 30px;
    font-weight: 600;
}
.bars{
    display: flex;
    gap: 40px;
    justify-content: space-between;
}
.bars a{
    color: black;
    cursor: pointer;
    padding: 15px 15px 15px 15px;
    border-radius: 10px;
}
.bars a:hover{
    background: #fe5b3d;
    color: #fff;
}
.home-context{
    position: relative;
    z-index:1;
    width:100%;
    min-height: 100vh;
    /* background: url(img/Car\ Website\ –\ 1@2x.png); */
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2,1fr);
}
.text h1{
    font-size: 3.5rem;
    letter-spacing: 2px;
}
.text span{
    color:#fe5b3d ;
}
.text button{
    padding: 13px 13px 13px 13px;
    border-radius: 6px;
    background: #3c27a5;
    color: #fff;
    font-size: 18px;
    margin-top: 20px;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 300px;
    cursor: pointer;
}
.text img{
    width: 24px;
    height: 24px;
}
.avatar img{
    width: 550px;
    height: 350px;
}
.about-me{
    display: flex;
    justify-content: center;
    align-items: center;
    width:auto;
    height: auto;
    margin-left: 30px;
    margin-right: 30px;
    background:#fafafb;
    border-radius: 10px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;

}
.content h2{
    color: #fe5b3d;
    font-size: 30px;
    margin-bottom: 30px;
}
.content ul li{
    font-size: 18px;
    letter-spacing:0.1px;
    text-align: left;
    line-height: 2;
    padding-bottom: 20px;
}
.title{
    margin-top: 30px;
    color: #fe5b3d;
    font-size: 40px;
}
.myskills{
    display: flex;
    justify-content: center;
    align-items: center;
    width:auto;
    height: auto;
    margin-left: 30px;
    margin-right: 30px;
    background:#fafafb;
    border-radius: 10px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    margin-top: 40px;

}
.skills-container{
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.skills-container h2{
    color: #fe5b3d;
    padding-top: 20px;
    font-size: 40px;
}
.skills-container img{
    width: 90px;
    height: 90px;
}
.skills-container span{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

}
.html{
    border-radius: 10px;
    width: 150px;
    height: 150px;
    background:#f5f5f9;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.css{
    border-radius: 10px;
    width: 150px;
    height: 150px;
    background:#f5f5f9;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.javascript{
    border-radius: 10px;
    width: 150px;
    height: 150px;
    background:#f5f5f9;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.react{
    border-radius: 10px;
    width: 150px;
    height: 150px;
    background:#f5f5f9;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.node{
    border-radius: 10px;
    width: 150px;
    height: 150px;
    background:#f5f5f9;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.express{
    border-radius: 10px;
    width: 150px;
    height: 150px;
    background:#f5f5f9;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.mongo{
    border-radius: 10px;
    width: 150px;
    height: 150px;
    background:#f5f5f9;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.sql{
    border-radius: 10px;
    width: 150px;
    height: 150px;
    background:#f5f5f9;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.git{
    border-radius: 10px;
    width: 150px;
    height: 150px;
    background:#f5f5f9;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.github{
    border-radius: 10px;
    width: 150px;
    height: 150px;
    background:#f5f5f9;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.work{
    color: #fe5b3d;
    font-size: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.projects{
    display: flex;
    justify-content: center;
    align-items: center;
    width:auto;
    height: auto;
    margin-left: 30px;
    margin-right: 30px;
    background:#fafafb;
    border-radius: 10px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    margin-top: 40px;
}
.my-project{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    gap: 30px;
}
.my-project span{
    font-size: 19px;
    font-weight: 600;
    gap: 10px;
}
.my-project a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
}
.pro1 ,.pro2 ,.pro3, .pro4, .pro5{
    gap: 10px;
    border-radius: 7px;
    width: 500px;
    height: auto;
    background:#f5f5f9;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.study{
    margin-top: 40px;
    color: #fe5b3d;

}
.my-edu{
    gap: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width:auto;
    height: auto;
    padding-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
    background:#fafafb;
    border-radius: 10px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    margin-top: 40px;
}
.my-edu img{
    width: 80px;
    height: 80px;
    border-radius: 10px;
}
.my-edu p{
    font-weight: 600;
    font-size: 18px;
}
.my-edu h3{
    border: 1px solid #fe5b3d;
    padding: 5px;
}
.degree ,.sslc ,.hsc{
    gap: 10px;
    border-radius: 7px;
    width: 400px;
    height: auto;
    background:#f5f5f9;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.my-contact{
    gap: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width:auto;
    height: auto;
    padding-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
    background:#fafafb;
    border-radius: 10px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    margin-top: 40px;
}
.call{
    color: #fe5b3d;
    margin-top: 40px;
}
.my-contact img{
    width: 40px;
    height: 40px;
}
.contact-me{
    display: flex;
    gap: 50px;
    margin-bottom: 40px;
}
.link,.gits,.twitter,.insta,.email,.phone{
    gap: 0px;
    border-radius: 7px;
    width:80px;
    height: auto;
    background:#f5f5f9;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

}